.input-wrapper{
    margin-bottom:1.5rem;
}

.input-label{
    text-transform:capitalize ;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: azure;
    font-weight: 600;

}
/* .input-label:hover{
    color:grey
} */

.custom-input{
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
    opacity: 0.8;
    background-color: var(--xyz);
}
.custom-input:focus{
    outline: none;
    opacity: 1;
    transition: all 0.2s;
}
.custom-input::placeholder{
    color:black
}