.cardtitle{
    box-shadow: var(--shadow1);
    color:var(--blackish);
    border-radius:0.5rem;
    border: 1px solid black;;
    min-width: 400px;
    padding: 0.2rem;
    font-family: "Roboto Slab", serif;
    flex:1;
    /* margin: 1rem; */
    background-color: rgb(208,207,205);
}
.my-col{
    color:blue;
}
.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 800;
}
.balance{
    margin: 0;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.my-row{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* width: 90%; */
    margin:2rem 0rem;
    flex-wrap: wrap;
    gap: 16px;

}
